@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark --default --prefersdark;
  exclude: rootscrollgutter;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;

  --color-base-100: oklch(21.15% 0.012 254.09);
  --color-base-200: oklch(25.33% 0.016 252.42);
  --color-base-300: oklch(29.44% 0.02 251.58);
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
}
