@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark --default --prefersdark;
  exclude: rootscrollgutter;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;

  --color-base-100: oklch(21.15% 0.012 254.09);
  --color-base-200: oklch(25.33% 0.016 252.42);
  --color-base-300: oklch(29.44% 0.02 251.58);

  --color-secondary: oklch(0.6199 0.2162 35.24);
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;

  --color-secondary: oklch(0.6803 0.214372 39.8015);
}

/* Hide Tailwind outline on buttons and inputs */
* {
  @apply appearance-none outline-none;
}
*:focus {
  @apply appearance-none outline-none;
}

@import "~/assets/css/main.css";
@import "~/assets/css/transitions.css";
