html {
  font-family: "Open Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.pdf-container {
  position: relative;
}

.hero {
  min-height: calc(100vh - 114px);
}

@media (width >= 40rem) {
  .hero {
    min-height: calc(100vh - 58px);
  }
}

.polygon-highlight-layer {
  position: absolute;
  inset: 0;
  z-index: 5;
}

.poly-shape {
  fill: none;
}

.highlight-dropdown {
  position: absolute;
  position-area: unset;

  .highlight-dropdown-content {
    width: 100%;
    height: 100%;
    cursor: pointer;

    &.highlight-selected {
      .poly-shape {
        fill: oklch(from var(--color-info) l c h / 0.15);
        stroke: oklch(from var(--color-info) l c h / 0.6);
      }
    }

    &:hover,
    &:has(+ .dropdown-content:hover) {
      .poly-shape {
        fill: oklch(from var(--color-info) l c h / 0.25);
        stroke: oklch(from var(--color-info) l c h / 0.8);
      }
    }
  }
}

.stat {
  padding-inline: 0.25rem;
  padding-block: 0.1rem;
  display: flex;
  column-gap: 0.1rem;
  align-items: center;

  & > .stat-value {
    font-size: 1.75rem;
    font-weight: 700;
  }
}

.highlight-marker::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -1.25rem; /* bring arrow closer to content */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 0.55rem solid transparent;
  border-bottom: 0.55rem solid transparent;
  border-left: 0.9rem solid oklch(from var(--color-info) l c h / 0.85); /* arrow color */
  opacity: 0;
  animation: arrow-pulse 1.25s ease-out;
  pointer-events: none;
}

@keyframes arrow-pulse {
  0% {
    transform: translateY(-50%) scale(0.6);
    opacity: 0;
  }
  50% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) scale(0.6);
    opacity: 0;
  }
}
